@import "font-face";
@import "media-queries";

@gray: #f5f5f5;
@black: rgba(0, 0, 0, 0.8);
@header-color: #1f2553;

//TAGS
body {
  font-size: 20px;
  line-height: 26px;
  font-family: OpenSans, sans-serif;
  color: @black;
}

//BLOCK MODIFIERS
header {
  .large({ background: url("../img/background-image-0.png") 0 -30px no-repeat,
  url("../img/background-dots-0.png") no-repeat,
  linear-gradient(to right, #f5f5f5 570px, white 570px); });
}

section#information, section#conference-schedule {
  background: @gray;
}

section#contacts {
  .medium-s({ background-image: linear-gradient(to bottom, #ddcee9, #cbd6eb); });
}

.partner-grid {
  a {
    display: block;
    position: relative;
    width: 200px;
    height: 200px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      right: 0;
    }
  }

}

h1 {
  font-family: OpenSans, sans-serif;
  font-size: 40px;
  line-height: 64px;
  font-weight: 800;
  color: @header-color;
}

h4 {
  font-family: OpenSans, sans-serif;
  font-weight: 800;
  color: @header-color;
}

//BLOCKS
footer {
  padding-top: 32px;
  padding-bottom: 32px;
  color: @header-color;
  size: 16px;
  font-family: OpenSans, sans-serif;
  font-weight: 800;
}

.menu a {
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  color: @header-color;
}

.menu a:focus, .menu a:hover {
  color: @header-color;
}

.logo-margin {
  margin-top: 1rem;
}

.content-padding {
  padding-top: 16px;
  padding-bottom: 16px;

  .medium({ padding-top: 32px; padding-bottom: 32px; });

  .large({ padding-top: 64px; padding-bottom: 64px; })
}

.quote {
  background-image: linear-gradient(to bottom, #ddcee9, #cbd6eb);
  padding: 64px;
  text-align: center;
  .quote-text {
    size: 18px;
    line-height: 31px;
    font-family: OpenSans, serif;
    font-style: italic;
  }
  .quote-photo {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-bottom: 16px;
  }
}

.schedule-element{
  padding: 16px;
}

.schedule{
  background-image: linear-gradient(to bottom, #ddcee9, #cbd6eb);
  padding: 16px;
  text-align: left;
  font-size: 22px;
}

.title-box {
  padding-left: 1rem;
  padding-top: 260px;
  padding-bottom: 300px;
}

.no-js #menu-small {
  display: none;
  .large({ display: block; });
}

.no-js .title-bar {
  .large({ display: none; })
}

table.teams{
  margin: auto;
}